# python
__pycache__

# formatter
ruff.toml

# dataset
sift/
!sift/.gitkeep

# project
tests/
*_test.py
clusterer_model/*
!clusterer_model/.gitkeep


logs.txt

# personal 
notes/
